<h1> Python Basics Notebook </h1>

<h2> First jupyter notebook </h2>

In [2]:
## Comments:
## Anything following # will not be executed

## We use this to write comments.

############ You can start a comment with as many # as you want, it's stylistic.. only 1 is needed to make a comment.

## Note:
## Best Practice 1: Use good, effective comments
### => Your code will often be judged on the quality/clarity of comments!

## Best Practice 2: If you are using external modules, import them at the very beginning of your code/notebook.

## Import numpy:
import numpy as np

## Note - I importd numpy with the "nickname" np, so you cal call np dot (.) function: i.e., np.sum to run that function

In [3]:
## An example of how I might use numpy:
np.sum([2,3,4])

9

We talked about variable names in class, what's valid and invalid.

Let's make our first variable

In [4]:
myfirstvariable2022 = 2022

Note: the above did not print 2022 to the screen, because we were just setting a variable.

If I want to print the value of that variable to the screen, I can do that two ways in jupyter:
1. type variable name
2. use print function in python

In [5]:
myfirstvariable2022

2022

In [6]:
print(myfirstvariable2022)

2022

To convince ourselves that python is case sensitive:

In [7]:
Myfirstvariable2022 = 3
print(Myfirstvariable2022)

3

In [8]:
2022myfirstvariable = 3

SyntaxError: invalid decimal literal (623714854.py, line 1)

So far, we've been setting our variables equal to integers. 

However, we can set them equal to many different things.

Some examples:

In [9]:
sciexp = 4e6
print(sciexp)

4000000.0

In [10]:
sciexp2 = 1e-3
print(sciexp2)

0.001

Scientific notation is one example, and we use "e" to represent x10

In [11]:
## Strings:
## We can set variables equal to a string - words/letters
stringvariable = 'redapple'
print(stringvariable)

redapple

In [12]:
##double quotes work as well to define a string:
stringvariable2 = "redapple"
print(stringvariable2)

redapple

In [13]:
stringvariable3 = redapple

NameError: name 'redapple' is not defined

above there are no quotes, which we need to define a string
in this case because we are setting the variable equal to letters, it thinks those letters are another variable
which isn't defined.

In [14]:
## if we had defined redapple, it would set stringvariable3 equal to the value of the variable redapple
redapple = 3
stringvariable3 = redapple
print(stringvariable3)

3

# Python Basics

In [16]:
## How do we add?
2+2

4

In [17]:
## Subtraction:
2-2

0

In [18]:
## Multiply and divide, * and / respectively:
2*2

4

In [19]:
2/2

1.0

In [20]:
## To the power of?
2**3

8

In [21]:
## We need numpy for things like logs and exponentials:
np.log10(9) ## this is using numpy's function log10, which log base 10

0.9542425094393249

In [22]:
## natural log is np.log (they're different here)
np.log(9)

2.1972245773362196

In [23]:
## Exponentials, e
np.exp(1)

2.718281828459045

In [24]:
## We can also combine these:

np.log(np.exp(1))   # gives me ln(e**1)

1.0

In [25]:
## Floor division:
## Rounds down the division:

## The other day we used this for peasant multiplication:
np.floor(26/5)

5.0

In [26]:
## the second way doesn't need numpy, //
26//5

5

## Python follows PEMDAS!

Test it out..

In [27]:
2+3**2*2

20

In [28]:
(3+7)**2-8*2

84

In [30]:
## Just because it follows PEMDAS, doesn't mean it's easy to read code.
pemdas_test1 = 2+3**2-(4+2)*2

## This should be -1: 2+3**2 - (6)*2 = 2+9-12
print(pemdas_test1)

-1

In [31]:
## More readable sometimes to add more parentheses
pemdas_test2 = 2+(3**2)-((4+2)*2)
print(pemdas_test2)

-1

One more operation, mod:

In [32]:
## modulo, or mod is %

## so 5 mod 2: 5%2
5%2

1

In [33]:
## Can also use "mod" in numpy:
np.mod(5,2)

1